@model UserProfileServiceModel
@{
    ViewData["Title"] = $"{Model.Username} Profile";
}

<h2>@ViewData["Title"]</h2>

<h3>@Model.Name - @Model.Bhirthdate.ToShortDateString()</h3>

<table class="table table-hover table-bordered">
    <thead>
        <tr>
            <th>Course</th>
            <th>Grade</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var course in Model.Courses)
        {
            <tr>
                <th>
                    <a asp-controller="Courses" asp-action="Details" asp-route-id="@course.Id">@course.Name</a>
                </th>
                <th>@(course.Grade == null ? "No Grade" : course.Grade.ToString())</th>
            </tr>
        }
    </tbody>
</table>